<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="include :: header('振汇开放平台 设备接口绑定列表')" />
</head>
<style>
    .menuBtn{
        float: left;
        text-align: center;
        margin: 0 auto;
        font-weight: 900;
        margin-top: 10px;
    }
    .menuBtn-margin{
        margin-left: 40px;
    }
    .menuBtn-png{
        width:100px;
        height: 100px;
    }
</style>
<body class="gray-bg">

<div class="container-div">
    <!--<div>-->
        <!--<span>状态:</span>-->
        <!--<i><img th:src="@{/ruoyi/png/redPoint.png}" style="width: 25px;height: 25px">&nbsp;离线</i>-->
        <!--<i><img th:src="@{/ruoyi/png/greenPoint.png}" style="width: 25px;height: 25px">&nbsp;在线</i>-->
    <!--</div>-->
    <div class="menuBtn">
        <a onclick="toModalView('/zhEquipment/toUserView','设备人员管理')">
            <img th:src="@{/ruoyi/png/userManage.png}" class="menuBtn-png"><br/>
            <span>人员人脸管理</span>
        </a>
    </div>
    <div class="menuBtn menuBtn-margin">
        <a onclick="toModalView('/zhEquipment/toDeviceView','设备配置信息')">
            <img th:src="@{/ruoyi/png/setting.png}" class="menuBtn-png"><br/>
            <span>设备配置信息</span>
        </a>
    </div>
    <div class="menuBtn menuBtn-margin">
        <a onclick="toModalView('/zhRecordrollback','设备识别记录')" >
            <img th:src="@{/ruoyi/png/record.png}" class="menuBtn-png"><br/>
            <span>设备识别记录</span>
        </a>
    </div>
    <!--<div class="menuBtn menuBtn-margin">-->
        <!--<a>-->
            <!--<img th:src="@{/ruoyi/png/lock.png}" class="menuBtn-png"><br/>-->
            <!--<span>手动开门</span>-->
        <!--</a>-->
    <!--</div>-->
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/ruoyi/js/ry-ui.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "console";
    function toModalView(url,title) {
        $.modal.openBN(title,prefix+url,'max','max');
    }
</script>
</body>
</html>