<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增识别记录1')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-zhRecordrollback-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备编号：</label>
				<div class="col-sm-8">
					<input id="deviceNumber" name="deviceNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">识别时间：</label>
				<div class="col-sm-8">
					<input id="recognizeTime" name="recognizeTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">识别人员姓名：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">识别人员编号：</label>
				<div class="col-sm-8">
					<input id="personNumber" name="personNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">相似度：</label>
				<div class="col-sm-8">
					<input id="similarity" name="similarity" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">识别图：</label>
				<div class="col-sm-8">
					<input id="faceImage" name="faceImage" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">ic卡：</label>
				<div class="col-sm-8">
					<input id="icCard" name="icCard" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">id卡：</label>
				<div class="col-sm-8">
					<input id="idCard" name="idCard" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">识别类型：</label>
				<div class="col-sm-8">
					<input id="recognizedType" name="recognizedType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">扩展字段：</label>
				<div class="col-sm-8">
					<input id="extendInfo" name="extendInfo" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "console/zhRecordrollback"
		$("#form-zhRecordrollback-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-zhRecordrollback-add').serialize());
	        }
	    }
	</script>
</body>
</html>
